@import '../../variables.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em;
}

.button-nav{
    display: flex;
    padding: 1rem;
}

.title{
    font-size: 1.5em;
    color: $dark-blue;
    cursor: pointer;
}


.button-empty{
    color: $dark-blue;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 .5em;
    padding: .5em 1em;
    transition: all .5s ease-in-out;
}

.button-empty:hover{
    background: $light-blue;
    transition: all .5s ease-in-out;
    color: #fff;
}

.button-filled{
    background-color: $dark-blue;
    color: #fff;
    padding: .5em 1em;
    font-size: 1rem;
    border: none;
    margin: 0 .5em;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.button-filled:hover{
    background: $light-blue;
    transition: all .5s ease-in-out;
    color: #fff;
}